In [1]:
import sqlite3

# Connect to the database (if it doesn't exist, it will be created)
conn = sqlite3.connect('database.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Create a table
cursor.execute('''CREATE TABLE IF NOT EXISTS users (
                    id INTEGER PRIMARY KEY,
                    username TEXT,
                    password TEXT
                )''')

In [18]:
cursor = conn.cursor()

In [4]:
data_to_insert = [
    ('Alice', 30),
    ('Bob', 25),
    ('Charlie', 35)
]

In [25]:
cursor.executemany("INSERT INTO users (username, password) VALUES (?, ?)", data_to_insert)

In [4]:
cursor.execute("SELECT * FROM users")

In [5]:
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)

(1, 'Alice', '30')
(2, 'Bob', '25')
(3, 'Charlie', '35')
(4, 'Alice', '30')
(5, 'Bob', '25')
(6, 'Charlie', '35')
(7, 'Alice', '30')
(8, 'Bob', '25')
(9, 'Charlie', '35')
(10, 'Alice', '30')
(11, 'Bob', '25')
(12, 'Charlie', '35')
(13, 'Alice', '30')
(14, 'Bob', '25')
(15, 'Charlie', '35')
(16, 'Alice', '30')
(17, 'Bob', '25')
(18, 'Charlie', '35')
(19, 'Alice', '30')
(20, 'Bob', '25')
(21, 'Charlie', '35')
(22, 'string', 'string')
(23, '', '')

In [38]:
cursor.execute("SELECT * FROM users WHERE username=? and password=?", ("Alice","30"))
results = cursor.fetchall()

In [40]:
results

[(1, 'Alice', '30'),
 (4, 'Alice', '30'),
 (7, 'Alice', '30'),
 (10, 'Alice', '30'),
 (13, 'Alice', '30'),
 (16, 'Alice', '30'),
 (19, 'Alice', '30')]

In [30]:
conn.commit()

In [43]:
conn.close()

In [1]:
import sqlite3

def get_tables_and_schema(db_path):
    # Connect to the SQLite database
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()
    
    # Query to retrieve the list of tables
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()
    
    # Loop through each table to get its schema
    for table in tables:
        table_name = table[0]
        print(f"Schema for table {table_name}:")
        
        # Query to get the schema of the table
        cursor.execute(f"PRAGMA table_info({table_name});")
        schema = cursor.fetchall()
        
        # Print the schema
        for column in schema:
            print(f"Column: {column[1]}, Type: {column[2]}, Not Null: {column[3]}, Default Value: {column[4]}")
        print("\n")
    
    # Close the connection
    conn.close()

# Example usage
db_path = 'database.db'  # Replace with your database path
get_tables_and_schema(db_path)

Schema for table users:
Column: id, Type: INTEGER, Not Null: 0, Default Value: None
Column: username, Type: TEXT, Not Null: 0, Default Value: None
Column: password, Type: TEXT, Not Null: 0, Default Value: None


Schema for table codes:
Column: id, Type: INTEGER, Not Null: 0, Default Value: None
Column: code, Type: TEXT, Not Null: 0, Default Value: None
Column: game_name, Type: TEXT, Not Null: 0, Default Value: None
Column: user_id, Type: INTEGER, Not Null: 0, Default Value: None